body{
    display:flex;
    flex-direction:column;
}

main{
    display:flex;
    flex-direction:row;
    flex:auto;
}

article{
    display:flex;
   flex:2;
    overflow-y:auto;
}


aside{
    display:flex;
    flex:1;
      overflow-y:auto;
}
body{
    background: black;
    color:yellow green;
}
aside{
    background: blue
    color:black;
   border:2px solid black;
}
article{
    background:yellow green;
    color:black;
}